<h1>{{ "Catalog" }}</h1>

{% for c in c_list %}

<form method action="{% url 'polls:catalog' user_id %}">
  <div>
    <p> {{c.cat_desc}} </p>
    <p> {{c.cat_pid}} </p>
    </div>
  <div style="float:left";>
    <input type = "text" name = "addrX" />
    <input type = "text" name = "addrY" />
    </div>
    <input type = "submit" value = "Buy" />
</form>

{% endfor %}


<div style="float:left";>
  <form action="{% url 'polls:orders' user_id %}" method="get">
    {% csrf_token %}
    <input type="submit" value="Orders" />
  </form>
  <form action="{% url 'polls:login' %}" method="get">
    {% csrf_token %}
    <input type="submit" value="Logout" />
  </form>
</div>
